<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SegmentControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC98A73A1CF5CCC1002C770B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC98A7531CF5CCC1002C770B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC98A75E1CF5CCC2002C770B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
